# Python Basics â€“ Data Engineering Perspective

## Data Types

Python provides multiple data types to store and process data.
In data engineering, choosing the right data type impacts:
- Readability
- Performance
- Correctness

In [ ]:
## Data Types Examples


# Integer
a = 10
print(a, type(a))

# Float
b = 10.5
print(b, type(b))

# String
c = "hello"
print(c, type(c))

# Boolean
d = True
print(d, type(d))

# NoneType
e = None
print(e, type(e))

10 <class 'int'>
10.5 <class 'float'>
hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>

## Collections Overview

In [ ]:
## Basic Creation

# List (ordered, mutable)
my_list = [1, 2, 3, 3]
print(my_list, type(my_list))

# Tuple (ordered, immutable)
my_tuple = (1, 2, 3, 3)
print(my_tuple, type(my_tuple))

# Set (unordered, unique elements)
my_set = {1, 2, 3, 3}
print(my_set, type(my_set))

# Dictionary (key-value pairs)
my_dict = {"a": 1, "b": 2}
print(my_dict, type(my_dict))

[1, 2, 3, 3] <class 'list'>
(1, 2, 3, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [ ]:
## Mutability Test

# List is mutable
my_list.append(4)
print("List:", my_list)

# Tuple is immutable (this will fail if uncommented)
# my_tuple.append(4)

# Set is mutable
my_set.add(4)
print("Set:", my_set)

# Dictionary is mutable
my_dict["c"] = 3
print("Dict:", my_dict)

List: [1, 2, 3, 3, 4]
Set: {1, 2, 3, 4}
Dict: {'a': 1, 'b': 2, 'c': 3}

In [7]:
empty_list = []
empty_tuple = ()
empty_set = set()   # NOT {}
empty_dict = {}

## Indexing and Slicing

In [ ]:
## Indexing Basics

data = [10, 20, 30, 40, 50]

print(data[0])   # first element
print(data[2])   # third element
print(data[-1])  # last element
print(data[-2])  # second last element

10
30
50
40

In [ ]:
## Slicing Basics

print(data[1:4])   # index 1 to 3
print(data[:3])    # start to index 2
print(data[2:])    # index 2 to end
print(data[:])     # full copy

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
## Step & Reverse

print(data[::2])    # every 2nd element
print(data[::-1])  # reverse list

[10, 30, 50]
[50, 40, 30, 20, 10]

## Conditional Statements

In [ ]:
## Basic if / else

x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

In [ ]:
## if / elif / else

score = 75

if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
elif score >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

In [ ]:
## Comparison & Logical Operators

age = 25
has_id = True

if age >= 18 and has_id:
    print("Allowed entry")
else:
    print("Not allowed")

Allowed entry

In [ ]:
## Truthy & Falsy

values = [0, 1, "", "hello", [], [1, 2], None]

for v in values:
    if v:
        print(v, "is Truthy")
    else:
        print(v, "is Falsy")

0 is Falsy
1 is Truthy
 is Falsy
hello is Truthy
[] is Falsy
[1, 2] is Truthy
None is Falsy

## Loops

In [ ]:
## for loop

numbers = [10, 20, 30, 40]

for n in numbers:
    print(n)

10
20
30
40

In [ ]:
## for loop with range

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
## Loop with index (enumerate)

fruits = ["apple", "banana", "mango"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 mango

In [ ]:
## while loop

count = 0

while count < 3:
    print(count)
    count += 1

0
1
2

In [ ]:
## break & continue

for i in range(5):
    if i == 3:
        break
    print(i)

for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
0
1
2
4

## Functions

In [ ]:
## Basic Function

def greet():
    print("Hello, World!")

greet()

Hello, World!

In [ ]:
## Function with Parameters

def greet_user(name):
    print(f"Hello, {name}")

greet_user("Alice")
greet_user("Bob")

Hello, Alice
Hello, Bob

In [ ]:
## return vs print

def add(a, b):
    return a + b

result = add(3, 4)
print(result)

7

In [ ]:
## return vs print

def add_print(a, b):
    print(a + b)

x = add_print(3, 4)
print(x)

7
None

In [ ]:
## Default Arguments

def greet_country(name, country="India"):
    print(f"{name} is from {country}")

greet_country("Rahul")
greet_country("John", "USA")

Rahul is from India
John is from USA

In [ ]:
## Multiple Returns

def calculate(a, b):
    sum_val = a + b
    diff_val = a - b
    return sum_val, diff_val

s, d = calculate(10, 5)
print(s, d)

15 5